*{
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-right: 20px ;
}

a{
    color: white;
    font-size: 22px;
    margin: 0 24px;
}

body{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*--------------------HEADER--------------------*/

.header, .footer{
   background-color: #1F2937;
   color: #F9FAF8;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.navBar img{
    width: 80px;
}

.header__Content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin: 80px 0;
}

.header__Content img{
    width: 700px;
}

.text-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 600px;
}

.text-header h1{
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: bolder;
    /* color: #F9FAF8; */
}

.text-header p{ 
    font-size: 18px;
    color: #E5E7EB;
    width: 550px;
}

.text-header button{
    background-color: #3882F6;
    border: none;
    padding: 8px 16px;
    border-radius: 16px;
    color: #E5E7EB;
    font-weight: 600;
}


/*--------------------MAIN CONTENT--------------------*/

.main__Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.main__Content h2{
    font-size: 36px;
    font-weight: bolder;
    margin: 0;
    padding: 20px 0;
}

/*--------------------CONTENT 1--------------------*/

.content-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.mochi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mochi p{
    color: #1F2937;
    font-weight: 700;
}

.mochi img{
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

/*--------------------CONTENT 2--------------------*/

.content-2{
    background-color: #E5E7EB;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    padding: 0;
}

.quote p:last-child{
    display: flex;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

/*--------------------CONTENT 3--------------------*/

.content-3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 100px 0 80px 0;
    padding: 40px 100px;
    border-radius: 10px;
    gap: 100px;
}

.cta-text{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.cta-text h3, .cta-text p{
    margin: 0;
    padding: 0;
}

.cta button{
    border: 2px solid white;
    border-radius: 10px;
    background-color: inherit;
    color: inherit;
    padding: 10px 20px;
}

/*--------------------FOOTER--------------------*/

.footer{
    text-align: center;
    padding: 30px;
}